body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form {
  margin: 20px;
}

.flexContainer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

hr {
  width: 90vw;
  margin-bottom: 40px;
}

/* NavBar CSS: */

.navDiv {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: #183879;
  border: 1px solid #0d2c69;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  margin: 0em;
  width: 100%;
  display: flex;
  height: 60px;
}

.navSpace {
  height: 60px;
}

.navImg {
  width: 250px;
}

.navButton {
  color: #fff;
  font-size: 1.25em;
  margin: 0;
  margin-right: 30px;
  margin-left: 30px;
  text-shadow: 2px 2px 8px #000;
}

.flexCenter {
  align-items: center;
  display: flex;
  margin-top: 3px;
  margin-right: 20px;
}

.navButtonSmall {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 0.875em;
}

.cartIcon {
  margin-right: 30px;
  height: 40px;
}

.navButton:hover {
  padding-top: 15px;
  transition: 0.25s;
  transition-timing-function: ease-in;
}

.navTitle {
  flex-grow: 1;
}

/* Single Home CSS: */

/* Home Info CSS: */

.info {
  padding: 5px;
}

.info > .title {
  font-weight: bold;
}

.info > .content {
  padding-left: 10px;
}

.homeInfo {
  width: 200px;
  height: auto;
  border: 1px solid #000;
  padding-bottom: 10px;
}

select {
  width: 100px;
  margin: 10px 20px;
}

.titleHeight {
  height: 110px;
}

.homeTitle {
  justify-content: space-between;
  width: 60vw;
  margin-left: 10vw;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.homeImage {
  height: 350px;
}

.homeDescrip {
  font-size: 16px;
  width: 80vw;
}

/*
Search window Css
*/

.searchCard {
  width: 700px;
  justify-content: space-between;
}

.google-btn {
  width: 170px;
  height: auto;
  margin: auto 30px;
}

.red {
  color: red;
}

/*
User CSS
*/

.userInfo {
  width: 400px;
}

.infoTag {
  height: 3rem;
  font-size: 18px;
  margin: 0 0 8px 0;
  padding: 0;
  padding-top: 10px;
}

.delete {
  padding-top: 10px;
}

.card {
  overflow: visible;
}

.searchPageContainer {
  display: flex;
  margin-top: 10px;
}

.searchFilterContainer {
}

.searchTileContainer {
  flex-grow: 1;
}

.homepage-header {
  padding-top: 60px;
  height: 30vw;
  background: linear-gradient(
      rgba(108, 129, 176, 0.4),
      rgba(108, 129, 176, 0.8)
    ),
    url('https://www.housingwire.com/ext/resources/images/editorial/A-New-Big-Images/houses/mobilehomes.jpg?1474649224')
      no-repeat fixed;
  background-size: cover;
}

.homepage-container h1 {
  color: white;
  font-size: 4vw;
  text-shadow: 2px 2px 5px #000;
  text-align: center;
}

.homepage-container h2 {
  color: white;
  font-size: 2.5vw;
  text-shadow: 2px 2px 5px #000;
  text-align: center;
}

.searchCardTitle {
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.manufacturer {
  font-size: 18px;
  font-weight: bold;
}

.homepage-content {
  padding: 50px;
}

.card-title {
  color: white;
  text-shadow: 2px 2px 5px #000;
}

.homepage-cards {
  padding: 3vw;
}
